<div class="col-xs-6 col-md-3" id="pro-pic-<%= product_pic.id %>">
  <a href="#" class="thumbnail">
  <button data-id="<%= product_pic.id %>" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= image_tag product_pic.image.url, data: { holder_rendered: true }, style: "height: 180px; width: 100%; display: block;" %>
  </a>
  <%= hidden_field_tag "product_pic[]", product_pic.id %>
</div>

<script type="text/javascript">
          $(".close").on('click', function(){
            var id = $(this).data('id');
            $.post("/product_pic/"+id);
          });
</script>