
  <% if obj.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5>有以下 <%= obj.errors.count %> 错误无法保存:</h5>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>