<style type="text/css">

.carousel {
    margin-bottom: 10px;
}    
.carousel-indicators li {
    border: 1px solid grey;
}
.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators .active {
    background-color: grey;
}
.carousel-inner {
    margin-top: 35px;
}

</style>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
        	<%= sanitize @activity.desc %>
        </div>
    </div>
</div>
