        <div class="container">
           <div class="panel panel-default">
                <div class="panel-body">
            <div class="row"> 
                <div class="col-xs-7 col-md-7">
					<div class="gallery">
					    <div class="gallery-inner">
					    	<%= image_tag @product.pic_url, class: "img-responsive center-block", alt: @product.name %>
					    </div>
					</div>
                    
                </div>
                <div class="col-xs-5 col-md-5 goods-info">
                    <ul class="list-unstyled">
                        <li><h4><strong style="line-height:1.8"><%= @product.name %></strong></h4></li>
                        <li><strong><h4 class="text-danger">￥79.00</h4></strong></li>
                        <li><label>更新时间: <%= @product.updated_at.strftime("%F %T") %></label></li>
                    </ul>
                </div>
            </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>商品描述</h4>
                </div>
                <div class="panel-body">
                	<%= sanitize @product.content %>
                </div>
            </div>
        </div>